.loader-container-data {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant-profile-container {
  height: 45vh;
  background-image: url('https://res.cloudinary.com/dy8lqwi3r/image/upload/v1660544555/Frame_279_nqfgca.png');
  background-size: cover;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}
.restaurant-details1 {
  display: flex;
  width: 70vw;
  flex-direction: row;
  justify-content: flex-start;
}

.details-container-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.restaurant-name-data {
  color: #ffffff;
  font-weight: 500;
  margin-top: 5px;
  font-family: 'Roboto';
  margin-bottom: 2px;
}

.restaurant-type-data {
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto';
  margin-top: 2px;
  margin-bottom: 1px;
}
@media screen and (min-width: 992px) {
  .restaurant-name-data {
    font-size: 32px;
    font-weight: 500;
    margin-top: 5px;
    font-family: 'Roboto';
    margin-bottom: 2px;
  }
  .restaurant-type-data {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .restaurant-image-data {
    width: 270px;
    height: 200px;
    border-radius: 8px;
  }
  .restaurant-details-data {
    display: flex;
    width: 70vw;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 992px) {
  .restaurant-name-data {
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
    font-family: 'Roboto';
  }
  .restaurant-type-data {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Roboto';
    margin-top: 5px;
  }
  .restaurant-image-data {
    width: 230px;
    height: 150px;
    border-radius: 8px;
  }
  .restaurant-details-data {
    display: flex;
    width: 85vw;
    flex-direction: row;
    justify-content: flex-start;
  }
}
.icon-color {
  color: #ffffff;
  width: 15px;
  margin-left: 0px;
}
.rating-number-data {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto';
  margin-left: 2px;
}

.ratings-cart-data {
  display: flex;
  align-items: center;
}
.ratings-count-data {
  color: #ffffff;
  font-size: 12px;
  margin-top: -18px;
}
.ratings-container-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -18px;
}
.rating-cart-data {
  display: flex;
  flex-direction: row;
  margin-top: -18px;
}
.rating-and-price-container {
  display: flex;
  width: 200px;
  justify-content: space-between;
  align-items: center;
}
.line {
  color: #ffffff;
}
.food-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-item-image {
  width: 180px;
  height: 130px;
  border-radius: 7px;
}

.food-item-details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
@media screen and (min-width: 992px) {
  .food-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 85vw;
    justify-content: center;
    align-items: center;
  }
  .food-item-container1 {
    list-style-type: none;
    margin: 25px;
    width: 450px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .food-list-container {
    display: flex;
    flex-direction: column;
    width: 85vw;
    justify-content: center;
    align-items: center;
  }
  .food-item-container1 {
    list-style-type: none;
    margin: 25px;
    width: 450px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
  .food-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: center;
  }
  .food-item-container1 {
    list-style-type: none;
    margin: 20px;
    width: 350px;
    display: flex;
    align-items: center;
  }
}

.food-item-name {
  color: #334155;
  font-size: 18px;
  font-family: 'Dm Sans';
  font-weight: bold;
}
.cost-cart-data {
  display: flex;
  align-items: center;
  margin-left: -15px;
}
.food-cost {
  color: #334155;
  font-size: 16px;
  font-family: 'Dm Sans';
  margin-left: 5px;
}
.cost-icon {
  color: #334155;
  width: 16px;
}
.cost-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: -18px;
}
.add-button {
  color: #ffa412;
  font-size: 12px;
  width: 55px;
  height: 25px;
  border: 2px solid #ffa412;
  background-color: transparent;
  border-radius: 5px;
  margin-top: -10px;
}
.ratings-container {
  display: flex;
  align-items: center;
  margin-top: -27px;
}
.food-item-rating {
  color: #0a1f44;
  font-size: 14px;
  font-family: 'Dm Sans';
}
.star-icon {
  color: #ffa412;
}
