.carousals-container {
  width: 85%;
  list-style-type: none;
  margin-top: 20px;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}
.carousals-image {
  width: 100%;
}
.loader-container {
  display: flex;
  height: 85vh;
  justify-content: center;
  align-items: center;
}
