.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.restaurant-list {
  width: 85%;
  padding: 5px;
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 32px;
    font-weight: 700;
  }
}
@media screen and (max-width: 990px) {
  .title {
    font-size: 20px;
    font-weight: 600;
  }
}
.title {
  color: #183b56;
  font-family: 'Dm Sans';
  margin-bottom: 0px;
}
.restaurant-description {
  color: #64748b;
  font-size: 16px;
  font-family: 'Dm Sans';
}
.text-filter-container {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
  margin-top: 0px;
}
.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-in-filter {
  font-size: 16px;
  color: #475569;
  font-family: 'Dm Sans';
  margin: 5px;
}
.select-by-option {
  border: none;
  outline: 0px;
  color: #475569;
  font-size: 16px;
}
.filter-option {
  color: #475569;
}
.hr-line {
  color: #cbd2d9;
}
.restaurant-image {
  width: 125px;
  height: 100px;
  border-radius: 9px;
}
.restaurants-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.restaurant-item {
  display: flex;
  width: 320px;
  margin: 20px;
  justify-content: flex-start;
  align-items: center;
}
.restaurant-name {
  color: #334155;
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 2px;
  margin-top: 1px;
  font-family: 'Dm Sans';
}
.restaurant-details {
  display: flex;
  margin-left: 13px;
  margin-bottom: 0px;
  flex-direction: column;
}
.restaurant-type {
  color: #64748b;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 1px;
}
.rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0px;
}
.star-icon {
  color: #ffcc00;
}
.rating {
  color: #1e293b;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
}
.count-rating {
  color: #64748b;
  font-size: 12x;
  font-weight: 500;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-text {
  color: #334155;
  font-size: 20px;
  margin: 8px;
}
.btn-container {
  padding: 5px;
}
.icon-style {
  color: #334155;
  font-weight: 400;
}
