.food-name {
  color: #475569;
  font-size: 20px;
  font-family: 'Dm Sans';
}
.food-list-names {
  display: flex;
  width: 90vw;
  justify-content: space-around;
  margin-bottom: 25px;
}
.cart-image-container {
  display: flex;
  align-items: center;
}
.cart-food-item-image {
  width: 120px;
  height: 100px;
}
.cart-food-name {
  color: #183b56;
  font-size: 20px;
  margin-left: 5px;
  font-family: 'Dm Sans';
}
.price {
  color: #ffa412;
  font-size: 16px;
  font-weight: bold;
}
.total-price-container {
  display: flex;
  align-items: center;
}
